<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration>
<configuration scan="true" scanPeriod="30 seconds" debug="false">

	<property resource="bootstrap.properties" />

 	<springProperty scope="context" name="service" source="spring.application.name"/>
    <springProperty scope="context" name="service_version" source="info.app.version"/>   
    <contextName>${service}</contextName>
           
	<springProfile name="default">
    	<!-- Use some logging configuration predefined by spring boot. For example: formatting pattern of logs. -->	
    	<include resource="org/springframework/boot/logging/logback/defaults.xml"/>
	
        <property name="CONSOLE_LOG_PATTERN"
                  value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>

        <appender name="flatConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${CONSOLE_LOG_PATTERN}</pattern>
                <charset>utf8</charset>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="flatConsoleAppender"/>
        </root>
	</springProfile>

	<springProfile name="jconsole-default">	    

	    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
	    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
   
	    <appender name="logstash" class="ch.qos.logback.core.ConsoleAppender">
	        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
	            <jsonGeneratorDecorator class="net.logstash.logback.decorate.PrettyPrintingJsonGeneratorDecorator" />
	        </encoder>
	    </appender>
  
		<root level="INFO">
    		<appender-ref ref="logstash"/>
	  	</root>   
	  		  	
   	</springProfile>
 
 	<springProfile name="jconsole-custom">
 	
	    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
	    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
	      
	    <appender name="logstash" class="ch.qos.logback.core.ConsoleAppender">
	        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
	            <providers>
	                <timestamp>
	                    <timeZone>UTC</timeZone>
	                </timestamp>
	                <version/>     	                		                       
	                <logLevel/>
	                <context/>
	                <!-- <contextName/>	 -->                
	                <pattern>
                        <omitEmptyFields>true</omitEmptyFields>
	                    <!-- the pattern that defines what to include -->
	                    <pattern>
	                        {
                                "trace": {
			                        "trace_id": "%X{traceId:-}",
			                        "span_id": "%X{spanId:-}",
                                }	                        
		                        "username": "${username:-}",
		                        "pid": "${PID:-}"
	                        }
	                    </pattern>
	                </pattern>
                    <mdc>
                        <excludeMdcKeyName>traceId</excludeMdcKeyName>
                        <excludeMdcKeyName>spanId</excludeMdcKeyName>
                    </mdc>
	                <arguments>
	                    <includeNonStructuredArguments>true</includeNonStructuredArguments>
	                </arguments>
	                <threadName/>	                
                    <loggerName>
                        <shortenedLoggerNameLength>40</shortenedLoggerNameLength>
                    </loggerName>
	                <callerData>
	                    <classFieldName/>
	                    <methodFieldName/>
	                    <fileFieldName/>
	                    <lineFieldName/>
	                </callerData>
	                <message/>
	                <throwableClassName/>
	                <throwableRootCauseClassName/>              
	                <stackTrace>
	                    <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
	                        <maxDepthPerThrowable>200</maxDepthPerThrowable>
	                        <maxLength>5000</maxLength>
	                        <shortenedClassNameLength>40</shortenedClassNameLength>
	                        <rootCauseFirst>true</rootCauseFirst>
	                        <inlineHash>true</inlineHash>
	                    </throwableConverter>
	                </stackTrace>
					<stackHash/>	                
	                <tags/>
	                <logstashMarkers/>
	                
	                <!-- extra -->
			        <nestedField>
			            <fieldName>extra_fields</fieldName>
			            <providers>
			                <logLevel/>		                
			            </providers>
			        </nestedField>     
	                <sequence>
	                    <fieldName>sequenceNumberField</fieldName>
	                </sequence>		                
	            </providers>
	        </encoder>
    	</appender>
 
	    <root level="INFO">
	        <appender-ref ref="logstash"/>
	    </root>
	       
   	</springProfile>

 	<springProfile name="jconsole-pattern">	    
 	
	    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
	    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
	     	
	    <appender name="logstash" class="ch.qos.logback.core.ConsoleAppender">
	        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
	            <providers>                 
	                <pattern>
	                	<omitEmptyFields>true</omitEmptyFields>
	                    <!-- the pattern that defines what to include -->
	                    <pattern>
	                        {
	                        "timestamp": "@timestamp",
	                        "severity": "%level",
	                        "service": "${service:-}",
	                        "trace": "%X{traceId:-}",
	                        "span": "%X{spanId:-}",
	                        "pid": "${PID:-}",
	                        "thread": "%thread",
	                        "class": "%logger{40}",
	                        "rest": "%message"
	                        }
	                    </pattern>
	                </pattern>
	            </providers>
	        </encoder>
    	</appender>
    	
	    <root level="INFO">
	        <appender-ref ref="logstash"/>
	    </root>
	       
   	</springProfile>
   	   	   
</configuration>